
.ch-main-footer{
	border-top:1px solid #B9B9B9;
	margin-top: 10px;
	.ch-nav-footer{
		height:auto;
		margin-bottom:20px;

		@media only screen and (max-width : 969px){
			width:100% !important;
			float:left !important;
		}

		@include footer;
	}
}