.ch-box-login{
	min-height:320px;
	border:1px solid rgba(232, 232, 232, 1);
	background-color: #fafafa;
	@include box-sizing(border-box);

	@media only screen and (max-width : 969px){
		display:none !important;
	}

	@include go;
	@include login; 

	.ch-pass-not{
			display: block;
			a{
			text-decoration:underline;
			color:$personalcolor1 !important;
				&:hover{
					text-decoration:none;
				}
			}
	}

	.ch-new-password{
		border-top:1px solid #d7d7d7;
		margin:0px 5px 25px 5px;
		padding: 20px 5px 0 5px;
		overflow:hidden;

		label.first-time{
			display:block;
			text-align:center;
			color:$textogeneral;
			font-size:12px;
			margin-bottom: 10px;
		}

		a.new-password{
			display:block;
			text-align:center;
			background-color: $personalcolor5;
			width:100%;
			height: 32px;
			padding:6px;
			border:none;
			font-family:Platform-regular;
			font-size:13px;
			color:#fff;
			@include box-sizing(border-box);
			@include border-radius(5px);

			&:hover{
				background-color: #ed3383;
			}

			&:active{
				padding-top:7px;
			}
		}
	}
}

/*--------- LOGIN DROP DOWN ---------*/

.ch-login-drop-down{

	.ch-btn-login-txt-datos{
		background-position: right 9px;
	}

	.ch-box-login-drop-down{
		background: #F0F0E1;
		position: absolute;
		top:157px;
		border-top:3px solid $personalcolor5;
		border-bottom:5px solid #D4D4D4;
		padding:20px;
		width: 910px;


		&.index{
			@media only screen and (min-width:969px){
			display:none !important;
			}
		}

		@media only screen and (max-width:969px){
			width: auto;
			max-width: 910px;
			min-width: 640px;
			left:10px;
			right: 10px;
			top:102px;
			z-index:4;
		}
		@media only screen 
		and (min-device-width : 600px) 
		and (max-device-width : 1024px) 
		and (orientation : portrait){
			top:104px;
		}

	}



	fieldset{
		border:0;
		margin:0;
		padding: 0;	
	}

	.ch-login-form-panel{
		@media only screen and (max-width: 969px){

		}

		@media only screen and (max-width: 805px){
			width:100%;
			text-align:center;
			border:1px solid #ccc;
			/*@include box-shadow(rgba(255, 255, 255, 0.6) 1px 1px 0px);*/
		}
		width:60%;
		float:left;
		border:0;
		display:block;
		padding:20px;
		padding-left: 40px;
		border-right:1px solid #ccc;
		@include box-sizing(border-box);


		.ch-cellphone{
			@media only screen and (max-width: 969px){

			}
			width: auto;
			margin-bottom:20px;
			z-index:3;
			padding:0 10px;
			font-size:14px;
			display:inline-block;
			text-shadow:#fff 1px 1px;

			label.prefix{
				margin-left: 20px;
			}


			label.line-number{
				margin-left: 15px;
			}

			input{
				height: 27px;
				font-size: 13px;
				padding-top: 2px;
				border:1px solid #c0c0c0;
				padding-left:3px;
				outline: none;
				@include box-sizing(border-box);
				@include border-radius(3px);
				@include box-shadow(0 1px 2px #dfdfdf inset);

				&.prefix{
					width:40px;
					/*font-style:italic;*/
					padding-left:3px;
				}

				&.line-number{
					/*font-style:italic;*/
					padding-left:3px;
					width: 155px;
				}
			}
		}

		.ch-password{
			width: auto;
			margin-bottom:10px;
			z-index:3;
			padding:0 10px;
			font-size:14px;
			display:inline-block;

			label.password{
				margin-left: 9px;
			}

			input{
				height: 27px;
				font-size: 11px;
				padding-top: 2px;
				border:1px solid #c0c0c0;
				padding-left:3px;
				outline: none;
				@include box-sizing(border-box);
				@include border-radius(3px);
				@include box-shadow(0 1px 2px #dfdfdf inset);

				&.password{
					margin-left: 20px;
					width:246px;
				}
			}
		}

		.ch-pass-not{
			display: block;
			font-size: 13px;
			margin-left: 132px;
			a{
			text-decoration:underline;
			color:$personalcolor1;
				&:hover{
					text-decoration:none;
				}
			}
		}
		.ch-go{
			width:350px;
			overflow:hidden;
			text-align:center;
			display:inline-block;
			margin-left: 27px;
			margin-top: 10px;

			input.btn-go{
				width: 246px;
				height: 30px;
				float:right;
				font-size:14px;
				color:#fff;
				border:1px solid #009ca7;
				background-color: #00b4c5;
				background-image: -moz-linear-gradient(top, #17bac9, #009ca8);
				background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#17bac9), to(#009ca8));
				background-image: -webkit-linear-gradient(top, #17bac9, #009ca8);
				background-image: -o-linear-gradient(top, #17bac9, #009ca8);
				background-image: linear-gradient(to bottom, #17bac9, #009ca8);
				background-repeat: repeat-x;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17bac9', endColorstr='#009ca8', GradientType=0);
				text-shadow: -1px -1px 1px rgba(0, 124, 142, 1);
				@include border-radius(2px);
				@include box-sizing(border-box);



				&:hover{
					background-color: #0193a0;
					background-image: -moz-linear-gradient(top, #14b2c0, #0193a0);
					background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#14b2c0), to(#0193a0));
					background-image: -webkit-linear-gradient(top, #14b2c0, #0193a0);
					background-image: -o-linear-gradient(top, #14b2c0, #0193a0);
					background-image: linear-gradient(to bottom, #14b2c0, #0193a0);
					background-repeat: repeat-x;
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14b2c0', endColorstr='#0193a0', GradientType=0);
				}

				&:active{
					background-color: #007693;
					padding-top:3px;
					@include box-shadow(1px 3px 5px rgba(0, 0, 0, 0.15) inset, -1px 0px 5px rgba(0, 0, 0, 0.15) inset);
				}
			}
		}

		.box-login-drop-down{
			@media only screen and (max-width: 969px){

			}

			z-index:3;
			position:absolute;
			width:190px;
			right:10px;
			background-color: #FFF;
			border: 1px solid #D4D4D4;
			@include box-shadow(rgba(0, 0, 0, 0.4) 1px 1px 3px);
			@include border-radius(2px);
		}
	}


	.generar-clave-drop{
		text-align: center;

		@media only screen and (max-width : 969px){

		}

		@media only screen and (max-width: 805px){
			width:100%;
			padding:15px;
		}

		width:40%;
		padding:10px 0 20px 20px;
		float:right;
		@include box-sizing(border-box);

		label.primera-vez{
			display:inline-block;
			text-align:center;
			color:$textogeneral;
			font-size:14px;
			margin-bottom: 10px;

			@media only screen and (max-width: 805px){
				float: left;
				line-height: 2.1;
			}
		}

		a.genera-tuclave{
			display:inline-block;
			text-align:center;
			@include border-radius(5px);
			background-color: $personalcolor2;
			min-width:300px;
			padding:10px 0;
			@include box-sizing(border-box);
			border:none;
			font-family:Platform-regular;
			font-size:16px;
			color:#fff;

			&:hover{
				background-color: $personalcolor5;
			}

			@media only screen and (max-width: 805px){
				float: left;
				padding:5px;
				min-width: 100px;
				font-size: 14px;
				margin-left: 20px;
			}
		}
	}
}


/*--- Mis datos ---*/
.ch-my-data{
	width:98%;
	padding:20px;
	border:1px solid #ddd;
	margin:0 auto;
	text-align:center;
	@include box-sizing(border-box);
	@include box-shadow(rgba(255, 255, 255, 0.6) 1px 1px 0px);
	.user-name{
		p.name{
			text-transform:uppercase;
			font-size: 13px;
			font-weight: 700;
			text-align:center;
		}
	}
	.user-line{
		margin-bottom: 20px;
		.btn-edit-profile{
			padding:5px 10px;
			color:#333;
			font-size:12px;
			text-shadow: #FFF 1px 1px;
			display:inline-block;
			background: #E4E4E4; 

			&:hover{
				background:#D5D5D5;
			}
		}
	}
	.btn-close-sesion{
		color:$personalcolor1;
		font-size:12px;
		text-decoration:underline;

		&:hover{
			text-decoration:none;
		}
	}
}


/*--- Mostrar usuario en resoluciones menores a 970px ---*/

div.box-usuario-portrait{

	@media only screen and (max-width : 969px){
		display:none;
	}


	float:right;
	width: 98px;
	height: 34px;
	background-image:url(/_staticfiles/_pweb/img/responsive/mis-datos.png);
	background-repeat:no-repeat;
	background-position:72px 12px;
	background-color: $personalcolor5;
	cursor:pointer;

	h4.mis-datos{
		font-family: Platform-regular, Helvetica, sans-serif;
		font-size: 15px;
		color:#fff;
		margin:7px 0 0 10px;
	}

	.datos-usuario{
		display:none;
		width:185px;
		min-height:130px;
		background-color:#fff;
		padding:10px;
		position:absolute;
		right:0;
		top:27px;
		border:1px solid $personalcolor5;
		cursor:auto;
		z-index:99;
		-moz-box-shadow: 0px 0px 10px #6b6b6b;
		-webkit-box-shadow: 0px 0px 10px #6b6b6b;
		box-shadow: 0px 0px 10px #6b6b6b;


		.nombre-usuario{
			display:inherit;


			p.name{
				text-transform:uppercase;
				font-weight: 700;
				text-align: center;
				font-size: 13px;
				color:$textogeneral;
				margin-top: 0;
			}
		}

		.linea-usuario{
			display:inherit;
			margin-top: 10px;
			padding: 0 7px;
			min-height:30px;

			p.linea{
				@extend p.name;
				float:left;
				background-image: url("/_staticfiles/_pweb/img/responsive/bullet_login.png");
				background-repeat: no-repeat;
				background-position: 0 6px;
				text-align:left;
				font-weight:normal;
				padding-left: 10px;
			}

			a{
				float:left;
				display:block;
				color:#FF428D !important;
				margin-left: 10px;
				text-decoration: underline;
				padding:0 !important;
				line-height:inherit !important;

				&:hover{
					text-decoration: none;
				}
			}
		}

		.cerrar-sesion{
			text-align:center;
			margin-top: 20px;
		}
	}
}

/*--------- USUARIO LOGUEADO ---------*/

.box-usuario{
	@media only screen and (max-width : 969px){
		display:none !important;
	}

	min-height:450px;
	background-color:#f4f4f4;
	border:1px solid #eee;

	.nombre-usuario{
		padding:5px;

		p.name{
			color:$textogeneral;
			text-transform:uppercase;
			font-size: 11px;
			font-weight: 700;
			text-align: center;
			margin-bottom: 0px;
		}
	}

	.linea-usuario{
		padding:5px 10px;;
		overflow:hidden;

		p.linea{
			@extend p.name;
			float:left;
			background-image: url("/_staticfiles/_pweb/img/responsive/bullet_login.png");
			background-repeat: no-repeat;
			background-position: 0 4px;
			text-align:left;
			font-weight:normal;
			padding-left: 10px;
			margin:0;
		}

		a{
			float:right;
			display:block;
			color:#FF428D;
			font-size: 11px;
			text-decoration: underline;

			&:hover{
				text-decoration: none;
			}
		}
	}
}


/*--- Mostrar usuario en resoluciones menores a 970px ---*/

div.box-usuario-portrait{

	@media only screen and (max-width : 969px){
		display:none;
	}


	float:right;
	width: 98px;
	height: 34px;
	background-image:url(/_staticfiles/_pweb/img/responsive/mis-datos.png);
	background-repeat:no-repeat;
	background-position:72px 12px;
	background-color: $personalcolor5;
	cursor:pointer;

	h4.mis-datos{
		font-family: Platform-regular, Helvetica, sans-serif;
		font-size: 15px;
		color:#fff;
		margin:7px 0 0 10px;
	}

	.datos-usuario{
		display:none;
		width:185px;
		min-height:130px;
		background-color:#fff;
		padding:10px;
		position:absolute;
		right:0;
		top:27px;
		border:1px solid $personalcolor5;
		cursor:auto;
		z-index:99;
		-moz-box-shadow: 0px 0px 10px #6b6b6b;
		-webkit-box-shadow: 0px 0px 10px #6b6b6b;
		box-shadow: 0px 0px 10px #6b6b6b;


		.nombre-usuario{
			display:inherit;


			p.name{
				text-transform:uppercase;
				font-weight: 700;
				text-align: center;
				font-size: 13px;
				color:$textogeneral;
				margin-top: 0;
			}
		}

		.linea-usuario{
			display:inherit;
			margin-top: 10px;
			padding: 0 7px;
			min-height:30px;

			p.linea{
				@extend p.name;
				float:left;
				background-image: url("/_staticfiles/_pweb/img/responsive/bullet_login.png");
				background-repeat: no-repeat;
				background-position: 0 6px;
				text-align:left;
				font-weight:normal;
				padding-left: 10px;
			}

			a{
				float:left;
				display:block;
				color:#FF428D !important;
				margin-left: 10px;
				text-decoration: underline;
				padding:0 !important;
				line-height:inherit !important;

				&:hover{
					text-decoration: none;
				}
			}
		}

		.cerrar-sesion{
			text-align:center;
			margin-top: 20px;
		}
	}
}