/* reset.scss
 * Normaliza los valores por defecto
 * ------------------------------------------------------------------------------------*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

h1, h2, h3, h4, h5, h6, ul, ol,li{
	margin:0;
	font-weight:normal;
}

a{
	text-decoration:none;

	&.hover{
		text-decoration:underline;
	}	
}

ul{
	padding:0;
	list-style:none;
}

img{
	max-width:100%;
}

input {
  &[type="button"], &[type="reset"], &[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  &[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
    &::-webkit-search-decoration, &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
}


input[type=reset],
input[type=search],
input[type=text],
input[type=password]
{
       filter:none;
       outline:none;
       &:focus{
       	outline: none !important;
       }
}

/*Buttons*/
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button, input {
  *overflow: visible;
  line-height: normal;
}
/**/
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img {
  max-width: none;
}